
<nav ng-controller="logout_controller" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-3">
        <strong style="float: left;display: block;color: white">CUTM Weather Repository</strong>
    </div>
    <div class="col-9">
        <button ng-click="logout()" class="btn btn-danger" style="float:right">Logout</button>
    </div>
</nav>
<section class="row">
    <section class="col" style="padding-top: 1rem;padding-left: 2rem;padding-right: 2rem">
        <section ng-controller="weatherapp_controller">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <strong>Add Data To Your Repository</strong>
                </div>
                <div class="card-body">
                    <div>
                        <form action="" class="form form-inline">
                            <label><strong>Select City</strong></label>&nbsp;&nbsp;
                            <select ng-model="city" ng-change="getDataSet()" class="form-control" style="font-weight: bold">
                                <option value="">--Select--</option>
                                <option ng-repeat="elements in cities" value="{{elements}}">{{elements.name}}</option>
                            </select>
                            &nbsp;&nbsp;<label><strong>Select Unit</strong></label>&nbsp;&nbsp;
                            <select ng-model="units" ng-change="getDataSet()" class="form-control" style="font-weight: bold">
                                <option value="imperial">Fahrenheit</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <!-- <i class="owi owi-{{weather.weather[0].icon}}" style="font-size: 100px"></i> -->
                        <h3 class="text-info">Todays Data</h3>
                        <table style="font-weight: bolder">
                            <tr>
                                <td colspan="2">Temperature : {{weather.main.temp}}</td>
                            </tr>
                            <tr>
                                <td>Min Temperature : {{weather.main.temp_min}}</td>
                                <td>Max Temperature : {{weather.main.temp_max}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Wind : {{weather.wind.speed}} m/s</td>
                            </tr>
                            <tr>
                                <td colspan="2">Other Details</td>
                            </tr>
                            <tr>
                                <td colspan="2">Lon : {{weather.coord.lon}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Lat : {{weather.coord.lat}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Weather Description : {{weather.weather[0].description}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Humidity : {{weather.main.humidity}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Pressure : {{weather.main.pressure}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Ground Level : {{weather.main.sea_level}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Sea Level : {{weather.main.grnd_level}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><button ng-click="postData()" class="btn btn-info btn-lg">Add</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="col" style="padding-top: 1rem;padding-left: 2rem;padding-right: 2rem">
        <div class="card bg-warning">
            <div class="card-header">
                <strong>Work On Progress</strong>
            </div>
            <div class="card-body">
                <h1>Work On Progress</h1>
            </div>
        </div>
    </section>
</section>
<section class="row">
    <section class="col" style="padding-top: 1rem;padding-left: 2rem">
        <section ng-controller="weatherapp-all-report">
            <div class="card text-white bg-dark">
                <div class="card-header"><strong>Your Repository Data</strong>&nbsp;&nbsp;
                <strong class="text-info" ng-click="getRepositoryRecords()">Refresh</strong>
                </div>
                <div class="card-body">
                    <table class="table table-striped" style="font-weight: bolder">
                        <thead class="thead-dark" >
                            <tr>
                                <th>City</th>
                                <th>Description</th>
                                <th>Humidity</th>
                                <th>Pressure</th>
                                <th>Speed</th>
                                <th>Temp</th>
                                <th>Temp Max</th>
                                <th>Temp Min</th>
                                <th>Created AT</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="weather in weathers">
                            <td>{{weather.city.name}}</td>
                            <td>{{weather.description}}</td>
                            <td>{{weather.humidity}}</td>
                            <td>{{weather.pressure}}</td>
                            <td>{{weather.speed}}</td>
                            <td>{{weather.temp}}</td>
                            <td>{{weather.temp_max}}</td>
                            <td>{{weather.temp_min}}</td>
                            <td>{{weather.created_at}}</td>
                            <td><button class="btn btn-danger" ng-click="deleteRecord(weather.id);">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>
<section ng-controller="weatherapp_chart_controller">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="margin-top: 1rem;margin-left: 2rem;margin-right: 2rem">
        <div class="form-group" style="width:100%">
            <label><strong style="color:white">Select City</strong></label>
            <select ng-model="city" ng-change="citySelected()" class="form-control" style="font-weight: bold">
                <option value="">--Select--</option>
                <option ng-repeat="elements in cities" value="{{elements}}">{{elements.name}}</option>
            </select>
        </div>
    </nav>
    <section class="row">
        <!--  TEMPERATURE CHART -->
        <section class="col">
            <section style="padding-top: 1rem;padding-left: 2rem;">
                <div class="card bg-default">
                    <div class="card-header bg-info">
                        <h3 class="text-white">Temperature</h3>
                    </div>
                    <div class="card-body">
                        <canvas chart-data="temp" chart-labels="label" chart-series="series" id="bar_temp" class="chart chart-bar" chart-options="{scales: {yAxes: [{ticks: {beginAtZero:true}}]}}"></canvas>
                    </div>
                </div>
            </section>
        </section>
        <section class="col">
            <section>
                <section style="padding-top: 1rem;padding-left: 2rem;padding-right: 2rem">
                    <div class="card bg-default">
                        <div class="card-header bg-info">
                            <h3 class="text-white">Max Temperature Vs Min Temperature</h3>
                        </div>
                        <div class="card-body">
                            <canvas chart-data="temp_max_min_data" chart-labels="label" chart-series="temp_max_min_series" id="line_max_min" class="chart chart-line" chart-options="{scales: {yAxes: [{ticks: {beginAtZero:true}}]}}"></canvas>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class="row">
        <!--  TEMPERATURE CHART -->
        <section class="col">
            <section style="padding-top: 1rem;padding-left: 2rem">
                 <div class="card bg-default">
                    <div class="card-header bg-info">
                        <h3 class="text-white">Humidity</h3>
                    </div>
                    <div class="card-body">
                        <canvas chart-data="humidity" chart-labels="label" chart-series="series_humidity" id="bar_humidity" class="chart chart-bar" chart-options="{scales: {yAxes: [{ticks: {beginAtZero:true}}]}}"></canvas>
                    </div>
                </div>
            </section>
        </section>
        <section class="col">
            <section style="padding-top: 1rem;padding-left: 2rem;padding-right: 2rem">
                <div class="card bg-default">
                    <div class="card-header bg-info">
                        <h3 class="text-white">Wind Speed</h3>
                    </div>
                    <div class="card-body">
                        <canvas chart-data="wind_speed" chart-labels="label" chart-series="series_wind" id="line_wind" class="chart chart-bar" chart-options="{scales: {yAxes: [{ticks: {beginAtZero:true}}]}}"></canvas>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>